/* Dark Mode with Animated Gradient Background */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #222222,#242424, #363636);
    background-size: 1000% 1000%;
    animation: gradientBackground 15s ease infinite;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}

/* Animated gradient */
@keyframes gradientBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    text-align: center;
    background-color: rgba(30, 30, 30, 0.8);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
    position: relative;
    z-index: 1;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #f0f0f0;
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

.time-unit {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 2rem;
    width: 90px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.number {
    font-size: 3rem;
    color: #e4e4e4;;
    position: relative;
    z-index: 1;
    animation: pulse 1s ease infinite;
}

.label {
    font-size: 1rem;
    color: #f0f0f0;
}

/* Particle Effect */
.particle {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    opacity: 0.8;
    animation: float 10s linear infinite;
}

@keyframes float {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100vh) translateX(20vw);
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

@keyframes splash-move {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        transform: translate(var(--x-move), var(--y-move));
    }
}


.splash-circle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #e4e4e4;
    border-radius: 50%;
    animation: splash-move 0.8s ease forwards;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {

    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 10px;
    padding: 15px;
    background-color: rgba(30, 30, 30, 0.8);
    border-radius: 20px;
    text-align: center;
    z-index: 1;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}